body {
  text-align: center;
  background-color: rgb(156, 173, 188);
}

header {
  top: 0;
  background-image: url("https://res.cloudinary.com/dy6xpqkkj/image/upload/v1628019942/Screen_Shot_2021-08-03_at_3.44.40_PM_ncs8k8.png");
  background-size: contain;
  background-color: grey;
  text-align: left;
  width: 100%;
  padding: 15px;
  color: white;
  font-family: 'MedievalSharp', cursive;
}

img {
  width: 55px;
}

form {
  border: 1px solid black;
  margin-bottom: 10px;
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
}

#environment {
  font-family: 'MedievalSharp', cursive;
  background-color: #2A5774;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

#environmentButton {
  font-family: 'MedievalSharp', cursive;
  background-color: #2A5774;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

ul {
  list-style-type: none;
}

.testImage {
  width: 400px;
}

.flexContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("https://res.cloudinary.com/dy6xpqkkj/image/upload/v1628019942/Screen_Shot_2021-08-03_at_3.44.40_PM_ncs8k8.png") 100 round;
}

.formMapContainer {
  order: 0;
  /* flex: 1 1 auto; */
  flex: 1 1 50%;
  align-self: auto;
}

.monsterContainer {
  order: 0;
  /* flex: 1 1 auto; */
  flex: 1 1 50%;
  align-self: auto;
}

.map {
  border: 1px solid black;
}

.monsters {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.monsterCard {
  border: 5px solid black;
  background-color: chartreuse;
  padding: 30px;
  flex-basis: 25%;
  margin: 25px;
  flex-wrap: wrap;
  height: 50px;
  /* testing card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

footer {
  background-image: url("https://res.cloudinary.com/dy6xpqkkj/image/upload/v1628048236/Screen_Shot_2021-08-03_at_11.36.14_PM_wvndgl.png");
  background-size: contain;
  background-color: grey;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

/* Modal from W3 schools */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box from W3 schools */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10%;
}
