body {
  text-align: center;
}

header {
  background-color: grey;
  text-align: left;
  width: 100%;
}

form {
  border: 1px solid black;
  /* flexybox testing below */
  order: -1;
  flex: 0 1 auto;
  align-self: flex-start;
}

ul {
  list-style-type: none;
}

img {
  width: 400px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.map {
  border: 1px solid black;
  order: 0;
  /* flexybox testing below */
  flex: 1 1 auto;
  align-self: auto;
}

.monsters {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* flexybox testing below */
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.monsterCard {
  border: 1px solid black;
  background-color: chartreuse;
  /* justify-content: space-between;
  align-items: center; */
  padding: 50px;
  flex-basis: 15%;
  margin: 25px;
}

footer {
  background-color: grey;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

/* Modal from W3 schools */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box from W3 schools */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10%;
}
